$primary: #f92672;
$secondary: #57dada;

$green: #3ECF14;

$gray-1: #404040;
$gray-2: rgb(36,36,36);
$gray-3: rgb(47,47,47);
$gray-4: #F1F1F1;

$main-font: monospace;


// Box shadow
$shadow: 0 2px 16px 0 #222223ad;
